{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Поиск постов:</h1>
<h4>{{ time_now|date:'M d Y' }}</h4>
<form action="" method="get">
<!--    <label for="start">Post date:</label>-->
<!--<input type="date" id="start" name="trip-start"-->
<!--       value="2022-12-13"-->
<!--       min="2022-12-13" max="2024-12-31">-->
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти">
</form>
<h5><a class="nav-link" href="{{ '\news' }}">Назад к новостям</a></h5>
<hr>
{% if search %}
        <table>
            <tr>
                <td>Дата</td>
                <td>Заголовок</td>
                <td>Превью поста</td>
                <td>Рейтинг</td>

            </tr>
            {% for newss in search %}
            <tr>
                <td>{{ newss.time|date:'M d Y H:i' }}</td>
                <td><a class="nav-link" href="{{ newss.id }}">{{ newss.title|truncatechars:55 }}</a></td>
                <td>{{ newss.preview|truncatechars:55 }}</td>
                <td>{{ newss.rating }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Постов нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}